<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Benvenuti alle Squadre di Calcio</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f4f4f4;
			margin: 0;
			padding: 20px;
		}

		header {
			background-color: #006400;
			color: white;
			padding: 10px 0;
			text-align: center;
		}

		h1 {
			margin: 0;
		}
	</style>
</head>

<body>
	<header>
		<h1>Squadre di Calcio</h1>
		<p>Scopri le squadre e i loro giocatori!</p>
	</header>

	<div align="center">
		<img src="https://i.pinimg.com/474x/74/1a/59/741a59313b5d72dbb66ed5f69b52294c.jpg" alt="Immagine non trovata"
			width="1200" height="600">
	</div>

	<div align="center">
		<h1><a href="/squadra" style="color: slategray;">Squadre</h1>
	</div>

	<div align="center">
		<h1><a href="/giocatore" style="color: slategray;">Inserisci Giocatori</h1>
	</div>

</body>

</html>